<article class="post">
  <div class="title">
  <h3>{{title}}</h3>
    <span>Posted by {{user.username}} on {{format_date created_at}}</span>
  </div>
  <div class="text-info">
        <span>{{post_url}}</span>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
       | {{post.vote_count}} {{format_plural "Like" post.vote_count}}

  </div>
</article>

